.user-data {
  display: inline-block;
}

.user-data ul {
  text-align: left;
}

.user-data li {
  width: 20rem;
  padding-left: 1rem;
  list-style: none;
  font-weight: normal;
  color: #333333;
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
}

.button-delete {
  margin: 1rem 0;
  border: none;
  background: transparent;
  color: #e85b8c;
  font-size: 0.9rem;
  outline: none;
  transition: 0.3s;
  font-family: "Questrial";
}

.button-delete:hover {
  opacity: 70%;
}
