.header {
  font-family: "Questrial";
  text-align: center;
  font-weight: bold;
}

h1 {
  color: #502250;
  font-size: 1.3rem;
}

h2 {
  color: #fabb15;
  font-size: 0.9rem;
}

h1 img {
  width: 2rem;
  margin: 0px 0px -10px 10px;
}
