@import url("https://fonts.googleapis.com/css2?family=Lato&family=Questrial&family=Roboto&display=swap");

body {
  background: white;
}

.App {
  font-family: "Lato";
  text-align: center;
  font-weight: bold;
}
